/.idea/compiler.xml
/.idea/dataSources.xml
/.idea/dataSources.local.xml
/.idea/dataSources/0d7fe799-c8a7-44c9-b522-af349f8c8398.xml
/.idea/misc.xml
/.idea/workspace.xml
/.idea/codeStyles/Project.xml

target/classes/sql_practice/Menu.class
target/classes/sql_practice/DataSource.class
.idea/dbnavigator.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/Project.xml
.idea/encodings.xml
target/classes/sql_practice/DataSource.class
target/classes/sql_practice/Menu.class
target/classes/sql_practice/Query1.class
